---

service:
  enabled: true
  type: LoadBalancer
  annotations:
    metallb.io/loadBalancerIPs: {{.Values.network.traefik_internal}}
  loadBalancerClass: metallb.io/internal
  labels: {}
  loadBalancerSourceRanges: []
  externalIPs: []
