00-bootstrap-save/*
argocd-apps-backup.yaml
**/*bootstrap/.cluster-token
**/Chart.lock
**/charts/
**/default-values.yaml
ops/cilium
ansible/ansible-structure-report.txt
ops/migrate-workload.sh.1
ops/tautulli.yaml
