---
# TODO add init cintainer or similar to load config

global:
  nameOverride: predbat

controllers:
  predbat:
    annotations:
      reloader.stakater.com/auto: "true"
    enabled: true
    type: deployment

    defaultContainerOptions:
      resources:
        requests:
          cpu: 10m
          memory: 94M
        limits:
          memory: 512M

    containers:
      app:
        image:
          repository: nipar44/predbat_addon
          tag: v8.27.25@sha256:4c6a59a3e390dd030aeb0637373f5627a4732c800ee10a41cbf161b601259d4d
        env:
          TZ: "Europe/London"
      code-server:
        dependsOn: app
        image:
          repository: ghcr.io/coder/code-server
          # yamllint disable-line rule:line-length
          tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
        env:
          TZ: "Europe/London"
        args:
          - --auth=none
          - --disable-telemetry
          - --disable-update-check
          - --user-data-dir
          - /config/.code-server
          - --extensions-dir
          - /config/.code-server
          - --port
          - "12321"
          - /config
        securityContext:
          runAsUser: 0

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: &http_port 5052
  code-server:
    ports:
      http:
        port: &code-server_port 12321

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 1Gi
    globalMounts:
      - path: /config

rawResources:
  middleware:
    apiVersion: traefik.io/v1alpha1
    kind: Middleware
    spec:
      spec:
        stripPrefixRegex:
          regex:
            - "^/code/"

  ingress:
    enabled: true
    kind: IngressRoute
    apiVersion: traefik.io/v1alpha1
    annotations:
      kubernetes.io/ingress.class: traefik-external
    spec:
      spec:
        entryPoints:
          - websecure
        routes:
          - kind: Rule
            # yamllint disable-line rule:line-length
            match: Host(`{{.Release.Name}}.{{.Values.global.domain}}`) && PathPrefix(`/`)
            priority: 10
            services:
              - name: "{{.Release.Name}}"
                port: *http_port
          - kind: Rule
            # yamllint disable-line rule:line-length
            match: Host(`{{.Release.Name}}.{{.Values.global.domain}}`) && PathRegexp(`^/code/.*`)
            priority: 11
            services:
              - name: "{{.Release.Name}}-code-server"
                port: *code-server_port
            middlewares:
              - name: "{{.Release.Name}}-middleware"
        tls: {}
