---

global:
  nameOverride: predbat

controllers:
  predbat:
    annotations:
      reloader.stakater.com/auto: "true"
    enabled: true
    type: deployment

    defaultContainerOptions:
      resources:
        requests:
          cpu: 10m
          memory: 94M
        limits:
          memory: 512M

    containers:
      app:
        image:
          repository: nipar44/predbat_addon
          tag: v8.29.4@sha256:9e0d7c4975bc56d613866042d4553dc21cf79c5fcc424dbc5700b8e30952f475
        env:
          TZ: "Europe/London"

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: &http_port 5052

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 1Gi
    globalMounts:
      - path: /config


route:
  app:
    hostnames:
      - "{{.Release.Name}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network
ingress:
  external:
    enabled: true
    className: cloudflare-tunnel
    annotations:
      cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
    hosts:
      - host: "{{.Release.Name}}.{{.Values.global.domain}}"
        paths:
          - path: /
            service:
              identifier: app
              port: http
