---

# hostname to use for ingress
global:
  host: hass

defaultPodOptions:
  automountServiceAccountToken: false
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0

controllers:
  home-assistant:
    annotations:
      secret.reloader.stakater.com/reload: <-
        {{.Release.Name}}-secret,
        {{.Release.Name}}-github,
        {{.Release.Name}}-prometheus

    pod:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"macvlan-static",
            "namespace": "network",
            "ips": ["10.58.0.210"]
          }]

    initContainers:
      kopiaignore:
        image:
          repository: docker.io/library/alpine
          tag: 3.23@sha256:865b95f46d98cf867a156fe4a135ad3fe50d2056aa3f25ed31662dff6da4eb62
        command: ["/bin/sh", "-c"]
        # TODO better handling for database backup
        args:
          - |-
            tee /config/.kopiaignore <<!
            /.code-server/logs
            /.git
            /.venv
            !
        securityContext:
          runAsUser: 0
      github-setup:
        # Connect to config repo
        image:
          repository: docker.io/library/ubuntu
          tag: 26.04@sha256:12aa2ae97b9b295d28962e83cb36cb478f3afbdda68196e5fd62e68bde3a67d5
        command: ["/bin/sh", "-c"]
        args:
          - |-
            set -x
            cd /config
            # Need to initialise repository?
            if [ ! -d .git ] ; then
              # This container will never have git installed
              apt update && apt install -y git
              # Prepare to clone
              mkdir temp-dir
              git clone https://github.com/mergwyn/home-assistant-config temp-dir
              mv temp-dir/.git .
              rm -rf temp-dir
              # Finally get files
              git checkout .
            fi
        securityContext:
          runAsUser: 0

    containers:
      app:
        image:
          repository: ghcr.io/home-assistant/home-assistant
          # yamllint disable-line rule:line-length
          tag: "2025.12.1@sha256:4e5e81917192e3fa730948964b19d6e03ff3b9c2694894bc6d6b76769e642055"
        env:
          TZ: Europe/London
          VENV_FOLDER: /venv
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-github"
        resources:
          requests:
            cpu: 47m
            memory: 1239M
          limits:
            memory: 2G

      code-server:
        image:
          repository: ghcr.io/coder/code-server
          # yamllint disable-line rule:line-length
          tag: 4.106.3@sha256:1a0e813039c8f01404a89654278779ac77492b833bc2d126431268b9b1f1e40a
        args:
          - --auth=none
          - --disable-telemetry
          - --disable-update-check
          - --user-data-dir=/config/.code-server
          - --extensions-dir=/config/.code-server
          # - --install-extension=trunk.io
          - --port=12321
          - /config
        env:
          TZ: Europe/London
          HASS_SERVER: http://localhost:8123
          # yamllint disable-line rule:line-length
          EXTENSIONS_GALLERY: '{ "serviceUrl": "https://marketplace.visualstudio.com/_apis/public/gallery", "itemUrl": "https://marketplace.vis  ualstudio.com/items" }'
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-github"
        resources:
          requests:
            cpu: 10m
            memory: 978M
          limits:
            memory: 5G

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: &http-port 8123
  code-server:
    ports:
      http:
        port: &code-server-port 12321

serviceMonitor:
  app:
    enabled: true
    serviceName: "{{.Release.Name}}"
    endpoints:
      - port: http
        scheme: http
        interval: 1m
        scrapeTimeout: 30s
        path: /api/prometheus
        bearerTokenSecret:
          name: home-assistant-prometheus
          key: token

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 10Gi
    globalMounts:
      - path: /config
  backups:
    enabled: true
    type: nfs
    server: 10.58.0.12
    path: /srv/backup/home-assistant
    globalMounts:
      - path: /config/backups
  cache:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 1Gi
    advancedMounts:
      home-assistant:
        app:
          - path: /config/.venv
            subPath: hass-venv
  secrets:
    type: secret
    name: "{{.Release.Name}}-secret"
    advancedMounts:
      home-assistant:
        app:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
            readOnly: true
  tmpfs:
    type: emptyDir
    advancedMounts:
      home-assistant:
        app:
          - path: /tmp
            subPath: hass-tmp
        code-server:
          - path: /tmp
            subPath: code-server-tmp
          - path: /nonexistent
            subPath: nonexistent

rawResources:
  rule:
    kind: PrometheusRule
    apiVersion: monitoring.coreos.com/v1
    spec:
      spec:
        groups:
          - name: home-assistant
            rules:
              - alert: HomeAssistantAbsent
                annotations:
                  description: |
                    Home Assistant has disappeared from
                    Prometheus service discovery.
                  summary: Home Assistant is down.
                expr: |
                  absent(up{job=~".*home-assistant.*"} == 1)
                for: 5m
                labels:
                  severity: critical

route:
  app:
    hostnames:
      - "{{.Values.global.host}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network
    rules:
      - backendRefs:
          - identifier: app
            port: *http-port
  code-server:
    hostnames:
      - "{{.Values.global.host}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network
    rules:
      - backendRefs:
          - identifier: code-server
            port: *code-server-port
        matches:
          - path:
              type: PathPrefix
              value: /code/
        filters:
          - type: URLRewrite
            urlRewrite:
              path:
                replacePrefixMatch: /
                type: ReplacePrefixMatch

ingress:
  external:
    enabled: true
    className: cloudflare-tunnel
    annotations:
      cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
    hosts:
      - host: "{{.Values.global.host}}.{{.Values.global.domain}}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
