---

controllers:
  tautulli:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/tautulli
          tag: 2.16.0@sha256:772e1af814159bd7e774273d4f9170b1a0f7129f2ad39be5619a458b7b0fd4b0
        env:
          TZ: "Europe/London"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /status
                port: &port 8181
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
            #  memory: 670M
          limits:
            memory: 1G

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch

service:
  # Configure a service for the main application
  app:
    forceRename: "{{.Release.Name}}"
    type: ClusterIP
    ports:
      http:
        port: *port

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 2Gi
    globalMounts:
      - path: /config
  config-cache:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /config/cache
  tmpfs:
    type: emptyDir
    advancedMounts:
      tautulli:
        app:
          - path: /config/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
