---

controllers:
  tautulli:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/tautulli
          tag: 2.16.0@sha256:772e1af814159bd7e774273d4f9170b1a0f7129f2ad39be5619a458b7b0fd4b0
        env:
          TZ: "Europe/London"

        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /status
                port: &port 8181
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes

        resources:
          requests:
            cpu: 10m
           #  memory: 670M
          limits:
            memory: 1G
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
    fsGroupChangePolicy: OnRootMismatch

service:
  # Configure a service for the main application
  app:
    forceRename: "{{.Release.Name}}"
    type: ClusterIP
    ports:
      http:
        port: *port

route:
  app:
    hostnames:
      - "{{.Release.Name}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network

# ingress:
#  external:
#    enabled: true
#    className: cloudflare-tunnel
#    annotations:
#      cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
#    hosts: 
#       - host: "{{.Release.Name}}.{{.Values.global.domain}}"
#         paths:
#           - path: /
#             pathType: Prefix
#             service:
#               identifier: app
#               port: http


persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 1G
    globalMounts:
      - path: /config
  config-cache:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    size: 1G
    globalMounts:
      - path: /config/cache
  tmpfs:
    type: emptyDir
    advancedMounts:
      tautulli:
        app:
          - path: /config/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
