---
global:
  # -- Set an override for the prefix of the fullname
  nameOverride: zigbee2mqtt
  # -- Set the entire name definition
  fullnameOverride:
  # -- Set additional global labels. Helm templates can be used.
  labels: {}
  # -- Set additional global annotations. Helm templates can be used.
  annotations: {}

controllers:
  zigbee2mqtt:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
    pod:
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
    containers:
      app:
        image:
          repository: ghcr.io/koenkk/zigbee2mqtt
          # yamllint disable-line rule:line-length
          tag: 2.7.1@sha256:163e7351430a95d550d5b1bb958527edc1eff115eb013ca627f3545a192e853f
        env:
          TZ: "Europe/London"
          ZIGBEE2MQTT_DATA: "/data"
          # yamllint disable-line rule:line-length
          ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_DISCOVERY_TOPIC: "homeassistant"
          # yamllint disable-line rule:line-length
          ZIGBEE2MQTT_CONFIG_ADVANCED_HOMEASSISTANT_STATUS_TOPIC: "homeassistant/status"
          ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: "ISO_8601"
          ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: "info"
          ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
          #  The following entries need to be uncommented for a new install
          # ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: "GENERATE"
          # ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: "GENERATE"
          # ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: "GENERATE"
          ZIGBEE2MQTT_CONFIG_EXPERIMENTAL_NEW_API: true
          ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: 8080
          # yamllint disable-line rule:line-length
          ZIGBEE2MQTT_CONFIG_FRONTEND_URL: "https://{{.Release.Name}}.{{.Values.global.domain}}"
          ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_DISCOVERY_TOPIC: "homeassistant"
          ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED: true
          ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: false
          # SLZB-06 configuration
          # yamllint disable-line rule:line-length
          ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "tcp://slzb-06-1.{{.Values.global.domain}}:6638"
          ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: "zstack"
          ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: "115200"
          ZIGBEE2MQTT_CONFIG_SERIAL_DISABLE_LED: "false"
          ZIGBEE2MQTT_CONFIG_ADVANCED_TRANSMIT_POWER: "20"
          # ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: "{{.Release.Name}}"
          ZIGBEE2MQTT_CONFIG_MQTT_INCLUDE_DEVICE_INFORMATION: true
          ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: "{{.Release.Name}}-mqtt-credentials"
                key: MQTT_PASSWORD
          ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://mosquitto:1883"
          ZIGBEE2MQTT_CONFIG_MQTT_USER:
            valueFrom:
              secretKeyRef:
                name: "{{.Release.Name}}-mqtt-credentials"
                key: MQTT_USER
        resources:
          requests:
            cpu: 50m
            memory: 384Mi
          limits:
            memory: 384Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            drop:
              - ALL
            add:
              - NET_BIND_SERVICE
      code-server:
        dependsOn: app
        image:
          repository: ghcr.io/coder/code-server
          # yamllint disable-line rule:line-length
          tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
        args:
          - --auth=none
          - --disable-telemetry
          - --disable-update-check
          - --user-data-dir
          - /config/.code-server
          - --extensions-dir
          - /config/.code-server
          - --port
          - "12321"
          - /config
        securityContext:
          runAsUser: 0

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: &http-port 8080
  code-server:
    ports:
      http:
        port: &code-server-port 12321

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 2Gi
    globalMounts:
      - path: /data
