---
# yaml-language-server: $schema=https://github.com/drinkataco/helm-media-servarr/blob/main/values.schema.json

tz: "Europe/London"

application:
  urlBase: ""

ingress:
  enabled: false

persistentVolumeClaims:
  cleanuparr-config:
    requestStorage: 1Gi
