apiVersion: builtin
kind: AnnotationsTransformer
metadata:
  name: common-annotations
# annotations:
#   mycompany.com/environment: {{ .Environment.Name | quote }}
fieldSpecs:
  - path: metadata/annotations
    create: true
