---
# This is a separate values file to remove the dependency on
# prometheus crds during bootstrap

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      # namespace:
    rules:
      enabled: true
      selector:
        release: kube-prometheus-stack
        # namespace:
      spec:
        - alert: ArgocdServiceNotSynced
          expr: 'argocd_app_info{sync_status!="Synced"} != 0'
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: ArgoCD service not synced (instance {{ $labels.instance }})
            # yamllint disable-line rule:line-length
            description: "Service {{ $labels.name }} run by argo is currently not in sync.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        - alert: ArgocdServiceUnhealthy
          expr: 'argocd_app_info{health_status!="Healthy"} != 0'
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: ArgoCD service unhealthy (instance {{ $labels.instance }})
            # yamllint disable-line rule:line-length
            description: "Service {{ $labels.name }} run by argo is currently not healthy.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

        - alert: ArgoAppMissing
          expr: |
            absent(argocd_app_info) == 1
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "[Argo CD] No reported applications"
            # yamllint disable rule:line-length
            description: >
              Argo CD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.  This needs to be
              resolved for this cloud to continue to maintain state.
            # yamllint enable rule:line-length
        - alert: ArgoAppNotSynced
          expr: |
            argocd_app_info{sync_status!="Synced"} == 1
          for: 12h
          labels:
            severity: warning
          annotations:
            summary: "[{{`{{$labels.name}}`}}] Application not synchronized"
            # yamllint disable rule:line-length
            description: >
              The application [{{`{{$labels.name}}`}} has not been synchronized for over
              12 hours which means that the state of this cloud has drifted away from the
              state inside Git.
            # yamllint enable rule:line-length
