---

env:
  TZ: Europe/London

configs:
  params:
    # -- Run server without TLS
    server.insecure: true
    # -- Enables use of the Progressive Syncs capability
    # -- no longer set to sync by default
    applicationsetcontroller.enable.progressive.syncs: true

  secret:
    createSecret: false  # managed by external-secrets/bitwarden

  cm:
    create: true
    kustomize.buildOptions: --enable-helm
    application.resourceTrackingMethod: "annotation"
    controller.diff.server.side: "true"
    # Exclude velero backups and restores
    resource.exclusions: |
      - apiGroups:
          - "velero.io"
        kinds:
          - Backup
          - Restore
        clusters:
          - "*"
  rbac:
    policy.default: role:admin

repoServer:
  volumes:
    - name: age-secret-keys
      secret:
        secretName: argocd-age-secret-keys
    - name: helmfile-cmp-tmp
      emptyDir: {}
  extraContainers:
    - name: helmfile-plugin
      image: travisghansen/argo-cd-helmfile:v0.3.13@sha256:1251e329f72cadaf55860b9029d13c887559b5f20287915f21d32d722aaeef2e
      command: [/var/run/argocd/argocd-cmp-server]
      env:
        - name: SOPS_AGE_KEY_FILE
          value: /sops/age/keys.txt
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /sops/age
          name: age-secret-keys
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: helmfile-cmp-tmp
  resources:
    requests:
      cpu: 20m
      memory: 192M
    limits:
      # cpu: 300m
      memory: 1400M
server:
  # TODO test again when https://github.com/argoproj/argo-helm/issues/3550 resolved
  # httproute:
  #   enabled: true
  #   hostnames:
  #     - "{{.Release.Name}}.{{.Values.global.domain}}"
  #   parentRefs:
  #     - name: traefik-internal
  #       namespace: network
  # grpcroute:
  #   enabled: true
  #   hostnames:
  #     - "{{.Release.Name}}.{{.Values.global.domain}}"
  #   parentRefs:
  #     - name: traefik-internal
  #       namespace: network
  #   rules:
  #     - matches:
  #         - headers:
  #             - name: Content-Type
  #               type: RegularExpression
  #               value: "^application/grpc.*$"

  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 50m
      memory: 1416M

extraObjects:
  - kind: IngressRoute
    apiVersion: traefik.io/v1alpha1
    metadata:
      name: argocd-server
      namespace: argocd
      annotations:
        kubernetes.io/ingress.class: traefik-external
    spec:
      entryPoints:
        - websecure
      routes:
        - kind: Rule
          match: Host(`argocd.theclarkhome.com`)
          priority: 10
          services:
            - name: argocd-server
              port: 80
        - kind: Rule
          # yamllint disable-line rule:line-length
          match: Host(`argocd.theclarkhome.com`) && Header(`Content-Type`, `application/grpc`)
          priority: 11
          services:
            - name: argocd-server
              port: 80
              scheme: h2c
      tls: {}

controller:
  resources:
    requests:
      cpu: 47m
      memory: 697M
    limits:
      memory: 1684M

applicationSet:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 34m
      memory: 1183M

dex:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 16m
      memory: 750M

notifications:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 16m
      memory: 750M

redis:
  resources:
    requests:
      cpu: 22m
      memory: 105M
    limits:
      # cpu: 52m
      memory: 174M
