---
recommender:
  # enabled: false
  extraArgs:
    storage: prometheus
    # yamllint disable-line rule:line-length
    prometheus-address: "http://kube-prometheus-stack-prometheus.monitoring:9090/"
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu:
      memory: 124M

updater:
  extraArgs:
    "feature-gates": "InPlaceOrRecreate=true"
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu:
      memory: 105M

admissionController:
  extraArgs:
    "feature-gates": "InPlaceOrRecreate=true"
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu:
      memory: 124M
