---
image:
  repository: us-docker.pkg.dev/fairwinds-ops/oss/goldilocks
  tag: v4.14.9@sha256:0b76f31f3d3e4c9fe5a397548208aea648d686e587b863f427debe94d74b7f73

controller:
  flags:
    ignore-controller-kind: "Job,CronJob"
    on-by-default: true

  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      memory: 105M


dashboard:
  ingress:
    enabled: true
    ingressClass: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: "goldilocks.theclarkhome.com"
        paths:
          - path: /
            type: ImplementationSpecific
    tls:
      - hosts:
          - "*.theclarkhome.com"
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      memory: 105M
