---
image:
  repository: us-docker.pkg.dev/fairwinds-ops/oss/goldilocks
  tag: v4.14.8@sha256:e1f4872c20cd3d14d9294bfe5734a4e75ece28de42234b555b9bb5b6cb3ceb17

controller:
  flags:
    ignore-controller-kind: "Job,CronJob"
    on-by-default: true

  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      memory: 105M


dashboard:
  ingress:
    enabled: true
    ingressClass: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - host: "goldilocks.theclarkhome.com"
        paths:
          - path: /
            type: ImplementationSpecific
    tls:
      - hosts:
          - "*.theclarkhome.com"
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      memory: 105M
