---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-5.0.1/charts/library/common/values.schema.json

controllers:
  radarr:
    annotations:
      secret.reloader.stakater.com/reload: "{{ .Release.Name }}-api-key"
    pod:
      annotations:
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name": "home-lan",
            "namespace": "network",
            "ips": ["{{ .Values.network.radarr }}"]
          }]
    initContainers:
      create-kopiaignore:
        image:
          repository: busybox
          tag: latest@sha256:dc2d74b28e4cf8984fa52af1f39bc7c3d9c73760b41a74d629f5d11b1ab28616
        command:
          - sh
          - -c
          - mkdir -p /config/MediaCover && echo '*' > /config/MediaCover/.kopiaignore
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.4.2@sha256:01ab4edc881b117e30972482ae4362c13ca76ee73c891a7581cffe597d43ca31
        env:
          RADARR__APP__INSTANCENAME: "{{ .Release.Name }}"
          RADARR__APP__THEME: dark
          RADARR__AUTH__METHOD: External
          RADARR__AUTH__REQUIRED: DisabledForLocalAddresses
          RADARR__LOG__DBENABLED: "False"
          RADARR__LOG__LEVEL: info
          RADARR__SERVER__PORT: &port 7878
          # RADARR__UPDATE__BRANCH: develop
          TZ: Europe/London
        envFrom:
          - secretRef:
              name: "{{ .Release.Name }}-api-key"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: {drop: ["ALL"]}
        resources:
          requests:
            cpu: 100m
            memory: 272M
          limits:
            memory: 429M

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 3001
    runAsGroup: 513
    fsGroup: 513
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: *port

persistence:
  config:
    enabled: true
    forceRename: "{{ .Release.Name }}-config"
    retain: true
    storageClass: longhorn
    accessMode: ReadWriteOnce
    size: 2Gi
  data:
    enabled: true
    existingClaim: vpn-nfs-pvc
    globalMounts:
      - path: /data
  tmp:
    type: emptyDir

route:
  app:
    hostnames:
      - "{{ .Release.Name }}.{{ .Values.cluster.domain }}"
    parentRefs:
      - name: traefik-internal
        namespace: network
        sectionName: websecure
    rules:
      - backendRefs:
          - identifier: app
            port: *port

ingress:
  external:
    enabled: true
    className: cloudflare-tunnel
    annotations:
      cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
    hosts:
      - host: "{{ .Release.Name }}.{{ .Values.cluster.domain }}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: *port
