---

controllers:
  app:
    enabled: true
    type: deployment
    containers:
      app:
        image:
          repository: ghcr.io/dispatcharr/dispatcharr
          tag: 0.17.0@sha256:023af84fb2ccb64c19a189c9ab4a5b0da148f76e8c0823a959c5250ce2d480bf
        env:
          DISPATCHARR_ENV: aio
          REDIS_HOST: localhost
          CELERY_BROKER_URL: redis://localhost:6379/0
          DISPATCHARR_LOG_LEVEL: info
        resources:
          requests:
            cpu: 600m
            memory: 1738M
            # enable gpu if ffmpeg profile being used
            # gpu.intel.com/i915: "1"
          limits:
            memory: 4G
            # enable gpu if ffmpeg profile being used
            # gpu.intel.com/i915: "1"

service:
  # Configure a service for the main application
  app:
    controller: app
    type: ClusterIP
    ports:
      http:
        port: 9191

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 2Gi
