---

controllers:
  kuard:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: gcr.io/kuar-demo/kuard-amd64
          tag: latest
        env:
          TZ: "Europe/London"

        resources:
          requests:
            cpu: 10m
           #  memory: 670M
          limits:
            memory: 1G

service:
  # Configure a service for the main application
  app:
    forceRename: "{{.Release.Name}}"
    type: ClusterIP
    ports:
      http:
        port: http
