---
global:
  nameOverride: &app dispatcharr

controllers:
  *app :
    enabled: true
    type: deployment
    containers:
      *app :
        image:
          repository: ghcr.io/dispatcharr/dispatcharr
          tag: 0.15.0@sha256:2794b537aebeb30f5173bc186e99238106b95a62b50453cf62bd7a09c90ab434
        env:
          DISPATCHARR_ENV: aio
          REDIS_HOST: localhost
          CELERY_BROKER_URL: redis://localhost:6379/0
          DISPATCHARR_LOG_LEVEL: info

        resources:
          requests:
            cpu: 600m
            memory: 1738M
            # enable gpu if ffmpeg profile being used
            # gpu.intel.com/i915: "1"
          limits:
            memory: 4G
            # enable gpu if ffmpeg profile being used
            # gpu.intel.com/i915: "1"

service:
  # Configure a service for the main application
  *app :
    controller: *app
    type: ClusterIP
    ports:
      http:
        port: 9191


route:
  app:
    hostnames:
      - "{{.Release.Name}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network

ingress:
  external:
    enabled: true
    className: cloudflare-tunnel
    annotations:
      cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
    hosts:
      - host: "{{.Release.Name}}.{{.Values.global.domain}}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: *app
              port: http

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 1G
