---
globalArguments:
  - "--global.sendanonymoususage=false"
  - "--global.checknewversion=false"

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-external
    allowExternalNameServices: true
  kubernetesIngress:
    enabled: true
    allowExternalNameServices: true
    publishedService:
      enabled: true
  kubernetesGateway:
    enabled: true

gateway:
  name: traefik-internal
  listeners:
    # TODO work out how to disable web listener
    web:
      namespacePolicy:
        from: All
    websecure:
      protocol: HTTPS
      port: 8443
      namespacePolicy:
        from: All
      certificateRefs:
        - name: theclarkhome-com-tls
          # Workaround for argocd issue #22151
          kind: Secret
          group: ''
  # experimentalChannel: true

gatewayClass:
  enabled: true

rbac:
  enabled: true

logs:
  general:
    level: INFO
    enabled: true
  access:
    enabled: false

deployment:
  enabled: true
  replicas: 2
  annotations:
    secret.reloader.stakater.com/reload: "auto"
  podAnnotations: {}
  additionalContainers: []
  initContainers: []

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    tls:
      enabled: true
  mqtt:
    port: 1883
    expose:
      default: true
    exposedPort: 1883
    protocol: TCP
  mqtts:
    port: 8883
    protocol: TCP
    expose:
      default: true
    exposedPort: 8883

service:
  enabled: true
  type: LoadBalancer
  annotations:
    kube-vip.io/loadbalancerIPs: 10.58.0.41
  labels: {}
  spec:
    loadBalancerIP: 10.58.0.33
  loadBalancerSourceRanges: []
  externalIPs: []

resources:
  requests:
    cpu: 15m
    memory: 127M
  limits:
    # cpu: 21m
    memory: 249M

metrics:
  prometheus:
    service:
      enabled: true
    disableAPICheck: false
    serviceMonitor:
      enabled: true
      metricRelabelings:
        - sourceLabels: [__name__]
          separator: ;
          regex: ^fluentd_output_status_buffer_(oldest|newest)_.+
          replacement: $1
          action: drop
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          separator: ;
          regex: ^(.*)$
          targetLabel: nodename
          replacement: $1
          action: replace
      jobLabel: traefik
      interval: 30s
      honorLabels: true
    prometheusRule:
      enabled: true
      additionalLabels:
        release: kube-prometheus-stack
      rules:
        - alert: TraefikDown
          expr: up{job="traefik"} == 0
          for: 5m
          labels:
            context: traefik
            severity: warning
          annotations:
            summary: "Traefik Down"
            description: "{{ $labels.pod }} on {{ $labels.nodename }} is down"

ingressRoute:
  dashboard:
    enabled: true
    # yamllint disable-line rule:line-length
    matchRule: Host(`traefik.theclarkhome.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
    entryPoints:
      - websecure
    middlewares:
      - name: traefik-dashboard-basicauth
    tls: {}

tlsStore:
  default:
    defaultCertificate:
      secretName: theclarkhome-com-tls

extraObjects:
  - apiVersion: traefik.io/v1alpha1
    kind: Middleware
    metadata:
      name: traefik-dashboard-basicauth
      labels:
        app.kubernetes.io/name: "{{.Release.Name}}"
        app.kubernetes.io/instance: "{{.Release.Name}}-{{.Release.Namespace}}"
    spec:
      basicAuth:
        secret: traefik-dashboard-secret

  - apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: traefik-dashboard-basicauth
      labels:
        app.kubernetes.io/name: "{{.Release.Name}}"
        app.kubernetes.io/instance: "{{.Release.Name}}-{{.Release.Namespace}}"
    spec:
      secretStoreRef:
        kind: ClusterSecretStore
        name: bitwarden
      target:
        name: traefik-dashboard-secret
        creationPolicy: Owner
        template:
          data:
            users: "{{`{{ htpasswd .username .password }}`}}"
      dataFrom:
        - extract:
            key: traefik_dashboard

#   - apiVersion: gateway.networking.k8s.io/v1beta1
#     kind: HTTPRoute
#     metadata:
#       name: redirect
#       namespace: network
#     spec:
#       parentRefs:
#         - namespace: network
#           name: traefik-internal
#           sectionName: http
#       rules:
#         - filters:
#             - type: RequestRedirect
#               requestRedirect:
#                 scheme: https
