---
  resources:
  - apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: coredns
      namespace: kube-system
      labels:
        app.kubernetes.io/managed-by: "Helm"
        k8s-app: kube-dns
      annotations:
        meta.helm.sh/release-name: "coredns"
        meta.helm.sh/release-namespace: "kube-system"
    spec:
      replicas: 3
      template:
        spec:
          tolerations:
            - key: "node-role.kubernetes.io/control-plane"
              operator: "Exists"
              effect: "NoSchedule"
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  k8s-app: kube-dns
  - apiVersion: v1
    kind: Service
    metadata:
      name: coredns-lan
      namespace: kube-system
      annotations:
        metallb.universe.tf/loadBalancerIPs: {{.Values.network.coreDNS | quote}}
    spec:
      type: LoadBalancer
      loadBalancerClass: metallb.io/internal
      selector:
        k8s-app: kube-dns
      ports:
        - name: dns
          port: 53
          protocol: UDP
          targetPort: 53
        - name: dns-tcp
          port: 53
          protocol: TCP
          targetPort: 53

  - apiVersion: policy/v1
    kind: PodDisruptionBudget
    metadata:
      name: coredns
      namespace: kube-system
    spec:
      minAvailable: 2
      selector:
        matchLabels:
          k8s-app: kube-dns
