---
# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  esphome:
    pod:
      annotations:
        # yamllint disable-line rule:line-length
        secret.reloader.stakater.com/reload: "esphome-secret,esphome-github"
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"macvlan-static",
            "namespace": "network",
            "ips": ["10.58.0.211"]
          }]

    initContainers:
      kopiaignore:
        image:
          repository: docker.io/library/alpine
          tag: 3.22@sha256:4b7ce07002c69e8f3d704a9c5d6fd3053be500b7f1c69fc0d80990c2ad8dd412
        command: ["/bin/sh", "-c"]
        args:
          - |-
            tee /config/.kopiaignore <<!
            /.esphome
            /.code-server/logs
            /.git
            !
        securityContext:
          runAsUser: 0
      github-setup:
        # Set up config repo
        image:
          repository: docker.io/library/ubuntu
          tag: 24.10@sha256:cdf755952ed117f6126ff4e65810bf93767d4c38f5c7185b50ec1f1078b464cc
        command: ["/bin/sh", "-c"]
        args:
          - |-
            set -x
            cd /config
            # Need to initialise repository?
            if [ ! -d .git ] ; then
              # This container will never have git installed
              apt update && apt install -y git
              # Prepare to clone
              mkdir temp-dir
              git clone https://github.com/mergwyn/esphome-config temp-dir
              mv temp-dir/.git .
              rm -rf temp-dir
              # Finally get files
              git checkout .
            fi
        securityContext:
          runAsUser: 0

    containers:
      app:
        image:
          repository: ghcr.io/esphome/esphome
          # yamllint disable-line rule:line-length
          tag: 2025.10.3@sha256:01874c4e152634f0cbbe6a6eb9f7e39de0de9702d9b0b4bdf13f7b6ca0ae7d2f
        env:
          TZ: "Europe/London"
          ESPHOME_DASHBOARD_USE_PING: "true"
          DISABLE_HA_AUTHENTICATION: "true"
        resources:
          requests:
            cpu: 5m
            memory: 512Mi
          limits:
            memory: 3G

      code-server:
        dependsOn: app
        image:
          repository: ghcr.io/coder/code-server
          # yamllint disable-line rule:line-length
          tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
        args:
          - --auth=none
          - --disable-telemetry
          - --disable-update-check
          - --user-data-dir
          - /config/.code-server
          - --extensions-dir
          - /config/.code-server
          - --port
          - "12321"
          - /config
        securityContext:
          runAsUser: 0
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-github"
        resources:
          requests:
            cpu: 10m
            memory: 443M
          limits:
            # cpu: null
            memory: 2G

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: &http-port 6052
  code-server:
    ports:
      http:
        port: &code-server-port 12321

dnsConfig:
  nameservers:
    - 10.58.0.21
    - 10.58.0.22

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 5G
    globalMounts:
      - path: /config
  build:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /config/.esphome
        readOnly: false
  secrets:
    type: secret
    name: "{{.Release.Name}}-secret"
    globalMounts:
      - path: /config/secrets.yaml
        subPath: secrets.yaml
        readOnly: true

rawResources:
  middleware:
    apiVersion: traefik.io/v1alpha1
    kind: Middleware
    spec:
      spec:
        stripPrefixRegex:
          regex:
            - "^/code/"

  ingress:
    enabled: true
    kind: IngressRoute
    apiVersion: traefik.io/v1alpha1
    annotations:
      kubernetes.io/ingress.class: traefik-external
    spec:
      spec:
        entryPoints:
          - websecure
        routes:
          - kind: Rule
            # yamllint disable-line rule:line-length
            match: Host(`{{.Release.Name}}.{{.Values.global.domain}}`) && PathPrefix(`/`)
            priority: 10
            services:
              - name: "{{.Release.Name}}"
                port: *http-port
          - kind: Rule
            # yamllint disable-line rule:line-length
            match: Host(`{{.Release.Name}}.{{.Values.global.domain}}`) && PathRegexp(`^/code/.*`)
            priority: 11
            services:
              - name: "{{.Release.Name}}-code-server"
                port: *code-server-port
            middlewares:
              - name: "{{.Release.Name}}-middleware"
        tls: {}
