---
# yamllint disable-line rule:line-length
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  esphome:
    pod:
      annotations:
        # yamllint disable-line rule:line-length
        secret.reloader.stakater.com/reload: "esphome-secret,esphome-github"
        k8s.v1.cni.cncf.io/networks: |
          [{
            "name":"macvlan-static",
            "namespace": "network",
            "ips": ["10.58.0.211"]
          }]

    initContainers:
      kopiaignore:
        image:
          repository: docker.io/library/alpine
          tag: 3.23@sha256:51183f2cfa6320055da30872f211093f9ff1d3cf06f39a0bdb212314c5dc7375
        command: ["/bin/sh", "-c"]
        args:
          - |-
            tee /config/.kopiaignore <<!
            /.esphome
            /.code-server/logs
            /.git
            !
        securityContext:
          runAsUser: 0
      github-setup:
        # Set up config repo
        image:
          repository: docker.io/library/ubuntu
          tag: 26.04@sha256:12aa2ae97b9b295d28962e83cb36cb478f3afbdda68196e5fd62e68bde3a67d5
        command: ["/bin/sh", "-c"]
        args:
          - |-
            set -x
            cd /config
            # Need to initialise repository?
            if [ ! -d .git ] ; then
              # This container will never have git installed
              apt update && apt install -y git
              # Prepare to clone
              mkdir temp-dir
              git clone https://github.com/mergwyn/esphome-config temp-dir
              mv temp-dir/.git .
              rm -rf temp-dir
              # Finally get files
              git checkout .
            fi
        securityContext:
          runAsUser: 0

    containers:
      app:
        image:
          repository: ghcr.io/esphome/esphome
          # yamllint disable-line rule:line-length
          tag: 2025.11.4@sha256:e72eac8e67470c46c9efea029110e451b37062d46b7e55269e03756dc15f7fbb
        env:
          TZ: "Europe/London"
          ESPHOME_DASHBOARD_USE_PING: "true"
          DISABLE_HA_AUTHENTICATION: "true"
        resources:
          requests:
            cpu: 5m
            memory: 512Mi
          limits:
            memory: 2G

      code-server:
        dependsOn: app
        image:
          repository: ghcr.io/coder/code-server
          # yamllint disable-line rule:line-length
          tag: 4.106.3@sha256:1a0e813039c8f01404a89654278779ac77492b833bc2d126431268b9b1f1e40a
        env:
          EXTENSIONS_GALLERY: '{ "serviceUrl": "https://marketplace.visualstudio.com/_apis/public/gallery", "itemUrl": "https://marketplace.visualstudio.com/items" }'
        args:
          - --auth=none
          - --disable-telemetry
          - --disable-update-check
          - --user-data-dir=/config/.code-server
          - --extensions-dir=/config/.code-server
          - --port=12321
          # - --install-extension=trunk.io
          # - --install-extension=github.copilot
          - /config
        securityContext:
          runAsUser: 0
        envFrom:
          - secretRef:
              name: "{{.Release.Name}}-github"
        resources:
          requests:
            cpu: 10m
            memory: 443M
          limits:
            # cpu: null
            memory: 3G

service:
  app:
    forceRename: "{{.Release.Name}}"
    ports:
      http:
        port: &http-port 6052
  code-server:
    ports:
      http:
        port: &code-server-port 12321

dnsConfig:
  nameservers:
    - 10.58.0.21
    - 10.58.0.22

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 5G
    globalMounts:
      - path: /config
  build:
    enabled: true
    type: emptyDir
    globalMounts:
      - path: /config/.esphome
        readOnly: false
  secrets:
    type: secret
    name: "{{.Release.Name}}-secret"
    globalMounts:
      - path: /config/secrets.yaml
        subPath: secrets.yaml
        readOnly: true

route:
  app:
    hostnames:
      - "{{.Release.Name}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network
    rules:
      - backendRefs:
          - identifier: app
            port: *http-port
  code-server:
    hostnames:
      - "{{.Release.Name}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network
    rules:
      - backendRefs:
          - identifier: code-server
            port: *code-server-port
        matches:
          - path:
              type: PathPrefix
              value: /code/
        filters:
          - type: URLRewrite
            urlRewrite:
              path:
                replacePrefixMatch: /
                type: ReplacePrefixMatch
