[defaults]
# Where to look for roles and playbooks
roles_path = ./roles
playbook_dir = ./playbooks 

# Don't create those annoying retry files every time a task fails
retry_files_enabled = False
# Use a cleaner output (optional, but highly recommended)
stdout_callback = default
callbacks_enabled = ansible.posix.profile_tasks
display_ok_hosts = yes
# Path to your inventory (makes the -i flag optional)
inventory = ./inventory/hosts.yaml
# Enable the SOPS vars plugin for the future "Age trick"
vars_plugins_enabled = host_group_vars,community.sops.sops

[ssh_connection]
# Faster connections, especially useful for local LXD/SSH
pipelining = True
