---

env:
  TZ: Europe/London

configs:
  params:
    # -- Run server without TLS
    server.insecure: true
    # -- Enables use of the Progressive Syncs capability
    # -- no longer set to sync by default
    # applicationsetcontroller.enable.progressive.syncs: true

  secret:
    createSecret: false  # managed by external-secrets/bitwarden

  cm:
    create: true
    kustomize.buildOptions: --enable-helm
    application.resourceTrackingMethod: "annotation"
    controller.diff.server.side: "true"
    # Exclude velero backups and restores
    resource.exclusions: |
      - apiGroups:
          - "velero.io"
        kinds:
          - Backup
          - Restore
        clusters:
          - "*"
  rbac:
    policy.default: role:admin

repoServer:
  volumes:
    - name: age-secret-keys
      secret:
        secretName: argocd-age-secret-keys
    - name: helmfile-cmp-tmp
      emptyDir: {}
  extraContainers:
    - name: helmfile-plugin
      image: travisghansen/argo-cd-helmfile:v0.3.13@sha256:1251e329f72cadaf55860b9029d13c887559b5f20287915f21d32d722aaeef2e
      command: [/var/run/argocd/argocd-cmp-server]
      env:
        - name: SOPS_AGE_KEY_FILE
          value: /sops/age/keys.txt
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      volumeMounts:
        - mountPath: /sops/age
          name: age-secret-keys
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: helmfile-cmp-tmp
  resources:
    requests:
      cpu: 20m
      memory: 192M
    limits:
      # cpu: 300m
      memory: 1400M

extraObjects:
  - kind: IngressRoute
    apiVersion: traefik.io/v1alpha1
    metadata:
      name: argocd-server
      namespace: argocd
      annotations:
        kubernetes.io/ingress.class: traefik-external
    spec:
      entryPoints:
        - websecure
      routes:
        - kind: Rule
          match: Host(`argocd.theclarkhome.com`)
          priority: 10
          services:
            - name: argocd-server
              port: 80
        - kind: Rule
          # yamllint disable-line rule:line-length
          match: Host(`argocd.theclarkhome.com`) && Header(`Content-Type`, `application/grpc`)
          priority: 11
          services:
            - name: argocd-server
              port: 80
              scheme: h2c
      tls: {}

controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      # namespace:
    rules:
      enabled: true
      selector:
        release: kube-prometheus-stack
        # namespace:
      spec:
        - alert: ArgocdServiceNotSynced
          expr: 'argocd_app_info{sync_status!="Synced"} != 0'
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: ArgoCD service not synced (instance {{ $labels.instance }})
            # yamllint disable-line rule:line-length
            description: "Service {{ $labels.name }} run by argo is currently not in sync.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
        - alert: ArgocdServiceUnhealthy
          expr: 'argocd_app_info{health_status!="Healthy"} != 0'
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: ArgoCD service unhealthy (instance {{ $labels.instance }})
            # yamllint disable-line rule:line-length
            description: "Service {{ $labels.name }} run by argo is currently not healthy.\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"

        - alert: ArgoAppMissing
          expr: |
            absent(argocd_app_info) == 1
          for: 15m
          labels:
            severity: critical
          annotations:
            summary: "[Argo CD] No reported applications"
            # yamllint disable rule:line-length
            description: >
              Argo CD has not reported any applications data for the past 15 minutes which
              means that it must be down or not functioning properly.  This needs to be
              resolved for this cloud to continue to maintain state.
            # yamllint enable rule:line-length
        - alert: ArgoAppNotSynced
          expr: |
            argocd_app_info{sync_status!="Synced"} == 1
          for: 12h
          labels:
            severity: warning
          annotations:
            summary: "[{{`{{$labels.name}}`}}] Application not synchronized"
            # yamllint disable rule:line-length
            description: >
              The application [{{`{{$labels.name}}`}} has not been synchronized for over
              12 hours which means that the state of this cloud has drifted away from the
              state inside Git.
            # yamllint enable rule:line-length

  resources:
    requests:
      cpu: 47m
      memory: 697M
    limits:
      # cpu: 242m
      memory: 1684M

server:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 50m
      memory: 1416M

applicationSet:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 34m
      memory: 1183M

dex:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 16m
      memory: 750M

notifications:
  resources:
    requests:
      cpu: 15m
      memory: 105M
    limits:
      # cpu: 16m
      memory: 750M

redis:
  resources:
    requests:
      cpu: 22m
      memory: 105M
    limits:
      # cpu: 52m
      memory: 174M
