---
config:
  address: {{.Values.network.vip}}

env:
  cp_enable: "true"
  vip_arp: "true"
  vip_leaderelection: "true"

resources:
  requests:
    cpu: 15m
    memory: 105M
  limits:
    # cpu: 21m
    memory: 105M
