---

controllers:
  overseerr:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/sct/overseerr
          tag: develop@sha256:69452478e30f35360d06c2828648b05f4e7eef6dcce353c5627e65a024da0faf
        env:
          TZ: "Europe/London"
          LOG_LEVEL: debug

        resources:
          requests:
            cpu: 600m
            memory: 670M
            # gpu.intel.com/i915: "1"  # enable if vaapi used in sm
          limits:
            # cpu: 1100m
            memory: 2G
            # gpu.intel.com/i915: "1"  # enable if vaapi used in sm

service:
  # Configure a service for the main application
  app:
    forceRename: "{{.Release.Name}}"
    type: ClusterIP
    ports:
      http:
        port: 5055

route:
  app:
    hostnames:
      - "{{.Release.Name}}.{{.Values.global.domain}}"
    parentRefs:
      - name: traefik-internal
        namespace: network

ingress:
  external:
    enabled: true
    className: cloudflare-tunnel
    annotations:
      cloudflare-tunnel-ingress-controller.strrl.dev/backend-protocol: http
    hosts: 
      - host: "{{.Release.Name}}.{{.Values.global.domain}}"
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 1G
    globalMounts:
      - path: /app/config
