# TLS SAN entries for the cluster
tls-san:
{% for ip in node_ip_list %}
  - "{{ ip }}"
{% endfor %}
  - "api-k3s-dev.theclarkhome.com"
{% for node in groups['k3s_cluster'] %}
  - "{{ node }}"
{% endfor %}
