---

controllers:
  overseerr:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: lscr.io/linuxserver/overseerr
          tag: 1.34.0@sha256:b21e06654f321a94778ea314f693a4b1c073d99ef36881c7f493e2afc6c08b20
        env:
          TZ: "Europe/London"
          LOG_LEVEL: debug
        resources:
          requests:
            cpu: 600m
            memory: 670M
            # gpu.intel.com/i915: "1"  # enable if vaapi used in sm
          limits:
            # cpu: 1100m
            memory: 2G
            # gpu.intel.com/i915: "1"  # enable if vaapi used in sm

service:
  # Configure a service for the main application
  app:
    forceRename: "{{.Release.Name}}"
    type: ClusterIP
    ports:
      http:
        port: 5055

persistence:
  config:
    type: persistentVolumeClaim
    storageClass: openebs-zfspv
    accessMode: ReadWriteOnce
    retain: true
    size: 2Gi
    globalMounts:
      - path: /config
