---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-5.0.1/charts/library/common/values.schema.json

controllers:
  dispatcharr:
    enabled: true
    type: deployment
    annotations:
      reloader.stakater.com/auto: "true"
      setGateway: "false"  # TODO remove this once the pod-gatway is disabled for the vpn NS
      k8s.v1.cni.cncf.io/networks: |
        [{
          "name": "vpn-gateway",
          "namespace": "network",
          "ips": ["10.58.0.50"],  # TODO make this a config option
        }]

    initContainers:
      vpn-routing:
        image: nicolaka/netshoot
        securityContext:
          capabilities:
            add: ["NET_ADMIN"]
        command:
          - sh
          - -c
          - |
            set -e
            GW=$(ip route show default | awk '{print $3; exit}')
            ip route add 10.43.0.0/16 via "${GW}" dev eth0
            ip route del default
            ip route add default via 10.58.0.24 dev net1 # TODO make gateway a config option
            ip route show

    containers:
      app:
        image:
          repository: ghcr.io/dispatcharr/dispatcharr
          tag: 0.26.0@sha256:9275b0c1f5319a84b412af6839a1364ef25b61d8d6ff0d2130a6c2b2504a8b07
        env:
          dispatcharr_env: aio
          redis_host: localhost
          celery_broker_url: redis://localhost:6379/0
          dispatcharr_log_level: info
        resources:
          requests:
            cpu: 400m
            memory: 1658Mi
            # enable gpu if ffmpeg profile being used
            # gpu.intel.com/i915: "1"
          limits:
            memory: 2Gi
            # enable gpu if ffmpeg profile being used
            # gpu.intel.com/i915: "1"

service:
  # Configure a service for the main application
  app:
    type: ClusterIP
    ports:
      http:
        port: 9191

persistence:
  data:
    type: persistentVolumeClaim
    storageClass: longhorn
    accessMode: ReadWriteOnce
    retain: true
    size: 2Gi
