---
apiVersionOverride:
  podDisruptionBudget: policy/v1

webhooksCleanup:
  enabled: true
  autoDeleteWebhooks:
    enabled: true

admissionController:
  serviceMonitor:
    enabled: true
  replicas: 3
  resources:
    limits:
      cpu: null
  initContainer:
    resources:
      limits:
        cpu: null

backgroundController:
  serviceMonitor:
    enabled: true
  replicas: 3
  rbac:
    clusterRole:
      extraResources:
        - apiGroups:
            - ''
          resources:
            - namespaces
          verbs:
            - create
            - update
            - delete
            - patch
        - apiGroups:
            - ''
          resources:
            - persistentvolumes
            - persistentvolumeclaims
          verbs:
            - create
            - update
            - get
            - list

features:
  generateValidatingAdmissionPolicy:
    enabled: true
  PolicyExceptions:
    enabled: true


cleanupController:
  serviceMonitor:
    enabled: true
  replicas: 3

reportsController:
  serviceMonitor:
    enabled: true
  replicas: 3

grafana:
  enabled: true
